dist: xenial
language: python
sudo: false
matrix:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - env: TOXENV=py37-flake8
install:
    - pip install tox
script:
    - tox -e $TOX_ENV
